/* CSS for horizontal tab navigation */
.tab-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .tab-list li {
    float: left;
  }
  
  .tab-list li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    background-color: #f1f1f1;
  }
  
  .tab-list li a:hover {
    background-color: #b63131;
  }
  
  .tab-list li.active a {
    background-color: #ccc;
  }
 .regular-text {

    width: 18%;
}
/* Hide the submenu by default */
#toplevel_page_listings .wp-submenu {
  display: none;
}

/* Show the submenu on hover */
#toplevel_page_listings:hover .wp-submenu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
}
